$coldest : (midnightblue, darkblue);
$really-cold : (darkblue, darkslateblue);
$very-cold : (navy, royalblue);
$kinda-cold : (dodgerblue, deepskyblue);
$chilly : (skyblue, lightskyblue);
$mild : (paleturquoise, lemonchiffon);
$warm : (wheat, sandybrown);
$kinda-hot : (lightsalmon, coral);
$very-hot : (tomato, orangered);
$really-hot : (indianred, crimson);
$hottest : (firebrick, darkred);